@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body
{
    background-color: aqua;
}
.center{
    text-align: center;
    text-decoration: underline;
    

}
.bg-blue{
    background-color:inherit;
}
.mx-auto{
    margin: auto;
    align-items: center;
}
.button
{
    padding: 25px;
    margin:0 3px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.row{
    margin: 4px 0;
}
.row input{
    font-size: 30px;
    width: 350px;
    margin: 0;
    border-radius: 10px;
    border: 2px solid black;
    text-align: left;
}
.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: bold;
    font-style:normal;
  }
  .creepster-regular {
    font-family: "Creepster", system-ui;
    font-weight: bold;
    font-style: normal;

  }
  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
  .container
  {
    background-image: url(a2.png);
    background-size: 100%;
  }
  .usage
  {

    background-color: rgb(185, 184, 184);
  }